
.large-images {
  margin: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  flex-basis: 1200px;
  flex-shrink: 0;
  flex-basis: 85%;
  flex-grow: 2;
}

.small-images {
  margin: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  flex-basis: 48%
  // flex-grow: 1;
  // width: 40vw;
}

.gallery-wrapper  {
  display: flex;
  flex-wrap: wrap;

  .img1  {
    background-image: url('../img/OXI.jpg');
    @extend .large-images;
  }

  .img2  {
    background-image: url('../img/OZO.jpeg');
    @extend .small-images;
  }

  .img3  {
    background-image: url('../img/XIXC.jpg');
    @extend .small-images;
  }

  .img4  {
    background-image: url('../img/XOO.jpg');
    @extend .small-images;
  }

  .img5  {
    background-image: url('../img/111.jpg');
    @extend .small-images;
  }

  .img6  {
    background-image: url('../img/2.5.jpg');
    @extend .large-images;
  }
}

h4 > a {
  font-family: 'Raleway Dots', cursive;
  color: white;
  text-decoration: none;
}
