//STYLES FOR TOP OF CUBE ---------------

.top  {
  position: relative;

  a  {
    display: none;
    position: absolute;
    left: 52px;
    top: 145px;
    z-index: 1;
  }
}

//ANIMATIONS FOR TOP OF CUBE ----------------

.top-trigger  {
  position: relative;
  top: -110px;
  width: 200px;
  height: 170px;
}

.top-trigger:hover > .top {
  animation-name: top;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.top-trigger:hover a {
  display: block;
  font-family: 'Raleway Dots', cursive;
  color: white;
  text-decoration: none;
  animation-name: top-text;
  animation-duration: 2.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

//STYLES FOR RIGHT SIDE OF CUBE ----------------

.right  {
  position: relative;
  right: 100px;
  top: -76px;

  a  {
    display: none;
    position: absolute;
    left: 95px;
    top: 145px;
    z-index: 1;
  }
}

//ANIMATIONS FOR RIGHT SIDE OF CUBE ----------------

.right-trigger  {
  position: relative;
  top: -95px;
  left: 100px;
  width: 200px;
  height: 160px;
}

.right-trigger:hover > .right {
  animation-name: right;
  animation-duration: 1.9s;
  animation-fill-mode: forwards;
}

.right-trigger:hover a {
  display: block;
  font-family: 'Raleway Dots', cursive;
  color: white;
  text-decoration: none;
  animation-name: right-text;
  animation-duration: 2.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

//STYLES FOR LEFT SIDE OF CUBE ----------------

.left   {
  position: relative;
  right: -110px;
  top: -100px;

  a  {
    display: none;
    position: absolute;
    left: 40px;
    top: 105px;
    z-index: 1;
  }
}

//ANIMATIONS FOR LEFT SIDE OF CUBE ----------------

.left-trigger  {
  position: relative;
  top: -230px;
  left: -110px;
  width: 200px;
  height: 160px;
  // border: 1px solid white;
}

.left-trigger:hover > .left {
  animation-name: left;
  animation-duration: 1.9s;
  animation-fill-mode: forwards;
}

.left-trigger:hover a {
  display: block;
  font-family: 'Raleway Dots', cursive;
  color: white;
  text-decoration: none;
  animation-name: left-text;
  animation-duration: 2.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

//STYLES FOR CUBE ---------------------------------

.flex-cube  {
  display: flex;
  justify-content: center;
  animation: cube-scale 7s ease-in-out; 
}

.container  {
  height: 400px;
  width: 400px;
  position: relative;
  display: inline-block;
  top: 180px;
}

// ------------------------------------------------

.one {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid #dcb4d4;
	border-bottom: 50px solid transparent;
  position: absolute;
  top: 110px;
  animation: one 1.4s ease-in-out 0.6s infinite;
}


// -------------------------------------------------

.two {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #ffa3ed;
	border-bottom: 50px solid transparent;
  position: absolute;
  top: 110px;
  left: 100px;
  animation: two 1.4s ease-in-out 0.1s infinite;
}


// -------------------------------------------------

.three {
	width: 0;
	height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #f9bd4d;
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 50px;
  left: 100px;
  animation: three 1.4s ease-in-out 0.2s infinite;
}


//--------------------------------------------------

.four {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #E7D017;
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 100px;
  left: 100px;
  animation: four 1.4s ease-in-out 0.3s infinite;
}


//----------------------------------------------------

.five {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #be0052;
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 100px;
  animation: five 1.4s ease-in-out 0.4s infinite;
}



//---------------------------------------------------------

.six {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #c27194;
	border-bottom: 50px solid transparent;
  position: absolute;
  top: 50px;
  animation: six 1.4s ease-in-out 0.5s infinite;
}
